div.about.all
    h1 О нас
    p  Красивая и правильно подобранная мебель всегда являлась признаком отличного вкуса и тонкого дизайнерского мастерства. А качественно произведенная мебель всегда является признаком ответственности компании и её работников. Ведь важно сделать не просто красивую мебель, но такую мебель, которая бы радовала глаз не один год.
    p  Наша компания производит мебель на заказ самого высокого качества по индивидуальным запросам. Для нас важен отзыв каждого клиента, так как наша цель – положительная репутация. Мы изготавливаем  мебель только из материала высокого качества и  на высокотехнологичном оборудовании признанных производителей в области деревообработки.
    p  В работе   используем материалы и фурнитуру для мебели, выбирая только проверенных поставщиков с хорошей репутацией, так как прекрасно понимаем, что от этого собственная репутация зависит не меньше, чем от качества исполнения. При этом цены на нашу мебель находятся в разумных пределах.
    p  В своей работе мы придерживаемся использовать только современные материалы: ЛДСП 18 мм, Бумажно-слоистые пластики, МДФ, кромки ПВХ и ABS.
    p  Наши технологи разработают мебель по индивидуальному проекту, максимально точно воплотив Ваши пожелания, размеры, цвет. Ведь для нас важно то, чтобы клиент ушел от нас удовлетворенным.
