.findings.text
  h1 Фурнитура
  .materialExample
    h1 Работаем с гигантами мебельной фурнитуры Hettich, GTV, Blum
    a(href="#") Посмотреть каталог
    img(src="#{findings[0][0]}", style="width: 100%;")
