footer.foot
  .quater
    p Минская область г. Вилейка ул.Ходьки  2
    p
      b 8 029 834 51 93
    p
      b 8 044 746 62 11
    p 
      b yuldenmebel
      |@yandex.by
  .half
    p Все права защищены. Все права на материалы, находящиеся на сайте, охраняются в соответствии с законодательством РБ, в том числе об авторском праве и смежных правах.
    p 2015 год
  .quater
    p ЧПТУП «ЮЛДЕН МЕБЕЛЬ»
    p УНН 691172684
