header#header.header
	.logo
		img(src="img/logo.png")
		p 
			| Разрабатываем 
			br 
			| индивидуальную мебель 
			br
			| для Вашего дома!
	.addres
		p Минская область г. Вилейка ул.Ходьки  2
		p
			b 8 029 834 51 93 
		p
			b 8 044 746 62 11
		p
			b yuldenmebel
			|@yandex.by
