nav#menu.menu
	ul
		li.li.active(data="0")|Каталог
		li.li(data="1")|О нас
		li.li(data="2")|Контакты
		a(href="https://vk.com/club114296767")
			li.li Акции
.main
	include _catalog
	include _about
	include _contacts
#footer(style='display: none;')
	include _footer
	
