.services
	p Услуги:
	p  -резка стекла
	p  -шлифовка, полировка стекла
	p  -пескоструйная обработка - матирование стекла
	p  -сверление отверстий
	p  -закалка стекла
	p  -покраска стекла
	p Наша компания предлагает полный спектр услуг по обработке стекла.
	p Изделия, выполненные из этого исключительного материала, потрясают воображение дизайнерскими решениями и всевозможными формами. Но чтобы они добрались до нас в том виде, в котором мы привыкли их видеть, простому листу стекла необходимо пройти немало этапов обработки.
	p Сложность обработки стекла состоит в том, что это - очень твердый и одновременно хрупкий материал. Работа с ним подразумевает наличие специального оборудования и опытного персонала.
	p Выполняем самые объемные заказы в короткий срок и на высоком уровне.