include _mixins
h1 Новый стиль
.image
    .image_row
        +rowGallery(chair, 'chair')
.text
    p NS Nowy Styl – торговая марка, под которой компания «Новый Стиль», уже 17 лет успешно производит и реализует свою продукцию. С момента основания компании в 1997 году мы продолжаем активно развивать и совершенствовать все направления нашего бизнеса. На сегодняшний день компания «Новый Стиль» – лидер в производстве офисных кресел и стульев в СНГ и Восточной Европе. Мебель под торговой маркой NS NowyStyl выбирают потребители в 20 странах мира. Благодаря усилиям 2500 сотрудников, работающих на производстве общей площадью 100 000 кв.м., компания выпускает более 4 000 000 кресел и стульев ежегодно.
    p Нам доверяют миллионы людей, которые используют кресла и стулья NS NowyStyl ежедневно. Миллиарды часов в год наша мебель дарит комфорт огромному количеству людей дома и на работе, в кафе и ресторанах, конференц-залах и развлекательных центрах. Это мотивирует и заставляет нас идти вперед, стремясь всегда быть лучше.
    p Благодаря многолетнему опыту и неистощимому стремлению к созданию новых вдохновляющих решений, мы можем предложить нашим клиентам большой выбор продукции на любой вкус и кошелек. При помощи кресел, стульев и мебели под торговой маркой NS NowyStyl вы сможете без труда организовать любое пространство, сделать интерьер ярким и выразительным.
    p Мы заботимся даже о мельчайших деталях, которые могут повлиять на комфорт и эргономику нашей мебели. Так, уже на стадии проектирования, дизайнеры и конструкторы делают все возможное для того, чтобы новый продукт удачно сочетал в себе оригинальный дизайн и функциональность. А наличие современного оборудования и высококвалифицированных сотрудников на производстве позволяет нам поддерживать стабильно высокое качество продукции.
.text
    .materialExample
        a(href="http://www.nowystyl.ru/products/office-armchairs-ru") Посмотреть каталог
//
   Created by j on 19/01/16.

