include _mixins
h1 Ортопедические матрацы серии "Элит"
.image
    .image_row
        +rowGallery(matrac_elit, 'matracelit')
    p Ортопедические матрацы серии "Элит" изготавливаются на основе блока независимых пружин Pocket Springs.
    p В данной конструкции каждая пружина упакована в отдельный тканевый чехол-карман. Это позволяет ей сжиматься автономно и бесшумно и ровно на столько, насколько на нее оказывается давление.
    p Система Pocket Springs максимально равномерно распределяет нагрузку между сотнями пружин по всей площади, достигая наиболее высокой точечной эластичности и позволяя позвоночнику сохранять естественное положение во время сна.
    p Наполнение ортопедических матрацев "Элит" – высококачественные, экологически чистые материалы - сочетание которых создает различный уровень жесткости – мягкости, а так же плотный стеганный чехол из ткани на основе натуральных волокон (возможна антибактериальная пропитка) обеспечивают прочность. Надежность, комфорт и способны удовлетворить запросы самых взыскательных покупателей.
    p Матрацы серии "Элит" полностью снимают напряжение мышц позвоночника, повторяют все изгибы тела, обеспечивая здоровый отдых и крепкий сон.
.text
    h1 Матрацы серии "Элит-Престиж"
    .image_row
        +rowGallery(matrac_prestige, 'matracprestige')
    p Для истиннных ценителей комфортного отдыха и здорового сна специалистами ИП «Барро» разработана уникальная серия матрацев "Элит Престиж". Для наилучшей ортопедической поддержки в них применяется блок независимых пружин с 7 зонами различной упругости, которая достигается использованием пружин различающихся по диаметру проволоки, опорных витков и высот. Такой блок обеспечивает идеальную адаптацию к анатомическим особенностям строения тела человека.
    p Матрацы серии "Элит Престиж" отличаются тем, что зоны плеч, бедер и нижней части спины получают наилучшую поддержку во время отдыха и сна. На таком матраце позвоночник человека приобретает правильное положение, а мышцы находятся в расслабленном состоянии.
    p Серия матрацев "Элит Престиж"  способна удовлетворить запросы самых взыскательных и требовательных покупателей.
.text
    h1 Матрацы серии "Люкс"
    .image_row
        +rowGallery(matrac_lux, 'matraclux')
    p Серия ортопедических матрацев "Люкс" изготавливается на основе блока двухконусных пружин типа «боннель», обладающего высокой надежностью и оптимальными свойствами для сна и отдыха.
    p В сочетании с высококачественными экологически чистыми наполнителями, - латекс, кокос, высокоэластичный пенополиуретан, - матрацы серии "Люкс" способствуют снятию напряжения позвоночника, поддерживая его естественное положение и обеспечивая здоровый отдых – и крепкий сон.
    p Стеганый чехол из ткани с плотным переплетением нитей гарантирует стойкость к истиранию и обеспечивает комфорт поверхности матраца.
.text
    h1  !{ 'Матрацы серии "Эконом", "Комфорт", "Стандарт"' }
    .image_row
        +rowGallery(matrac_econom, 'matraceconom')
    p Ортопедические матрацы данных серий изготавливаются на основе блока двухконусных пружин, обладающего высокой надежностью и оптимальными свойствами для сна и отдыха. Их наполнение из натуральных нетканых материалов обеспечивает все необходимое для здорового сна и отдыха человека.
.text.findings
    h1 Матрацы "Детская серия"
    .image_row
        +rowGallery(matrac_children, 'matracchildren')
    p Матрацы детской серии изготавливаются  из натуральных, пропускающих воздух материалов с учетом активного формирования опорно-двигательной системы ребенка.
    p Матрацы на основе блока двухконусных пружин «боннель», укрепленные стальной рамкой снизу и сверху отличаются высокой прочностью и надежностью. В сочетании с гиппоалергенным  наполнителями предотвращают искривление позвоночника и поддерживает формирование правильной осанки.
    p Детские матрацы, выполненные на основе блока независимых пружин PocketSprings имеют ярко выраженный ортопедический эффект благодаря высокой плотности расположения пружин( более чем 22 250 шт/м2) небольшого диаметра (5-6см),и возможности автономного сжатия каждой из них, что способствует идеально-ровному положению позвоночника ребенка во время сна, и формированию правильной осанки.
    p Наматрацники внутри не имеют пружин, вместо них там находится наполнитель.Ортопеды советуют родителям приобретать для своих чад именно беспружинные изделия, поскольку детский позвоночник все еще находится в стадии формирования, поэтому пружинный блок матраса, особенно зависимый, может привести к необратимым изменениям в будущей осанке малыша. Лучше всего, если ваш ребенок будет спать на беспружинном матрасе как минимум до 10-14 лет.

//
   Created by j on 19/01/16.

