doctype html
html(lang="en")
	head
		include meta/_head
	body
		#arrowUp
		include components/_header
		include components/_menu
	script(src="./js/fetch.min.js" defer)
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" defer)
	script(src="./js/lightgallery.min.js" defer)
	script(src="./js/index.js" defer)
